<a href="https://colab.research.google.com/github/MeemooMe/myFirstRepo/blob/master/TrafficDS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import library, pandas to read the dataset, matplotlib to visualize data, and re to clean the text 
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [7]:
# upload dataset files, the data is splitted into 2 files; accident characteritstics data file (caracteristiques-2019.csv) and drivers data file (usagers-2019.csv)
import io
from google.colab import files
uploaded = files.upload()

for name, data in uploaded.items():
  with open(name, 'wb') as f:
    f.write(data)
    print ('saved file', name)

Saving caracteristiques-2019.csv to caracteristiques-2019.csv
Saving usagers-2019.csv to usagers-2019.csv
saved file caracteristiques-2019.csv
saved file usagers-2019.csv

In [92]:
# read uploaded data using pd.read_csv, then store the data in df dataframe
# charcts_df ==> Accident characterstics 
# drivers_df ==> Drivers data

charcts_df = pd.read_csv(io.StringIO(uploaded['caracteristiques-2019.csv'].decode()), sep = ',')
drivers_df = pd.read_csv(io.StringIO(uploaded['usagers-2019.csv'].decode()), sep = ',')

In [100]:
# show random dataframe content (5 rows) for the two datasets
charcts_df.sample(5)

            Num_Acc  jour  ...          lat        long
54977  201900054978  11.0  ...  488277150.0  23945180.0
48201  201900048202  11.0  ...  487820000.0  24570000.0
5165   201900005166  17.0  ...  488791700.0  24763400.0
30209  201900030210  26.0  ...  487805071.0  24413936.0
17322  201900017323  14.0  ...  488721721.0  23299012.0

[5 rows x 15 columns]

In [96]:
drivers_df.sample(5)

             Num_Acc  id_vehicule num_veh  place  ...  secu3  locp  actp  etatp
94863   201900042070  138 227 102     A01      2  ...     -1    -1     0     -1
91285   201900040458  138 230 075     A01      2  ...     -1     0     0     -1
6590    201900002953  138 300 931     A01      1  ...     -1     0     0     -1
36485   201900016201  138 276 255     A01      1  ...     -1     0     0     -1
117680  201900052103  138 208 165     A01      1  ...     -1     0     0     -1

[5 rows x 15 columns]

In [109]:
# overview the two datasets, show basic stats
charcts_df.describe()

               jour          mois  ...           lat          long
count  58713.000000  58713.000000  ...  5.871300e+04  5.871300e+04
mean      15.685964      6.688485  ...  4.458634e+08  2.864451e+07
std        8.720109      3.387156  ...  1.182908e+08  1.871112e+08
min        1.000000      1.000000  ... -6.142566e+08 -1.781574e+09
25%        8.000000      4.000000  ...  4.478586e+08  1.410280e+07
50%       16.000000      7.000000  ...  4.782554e+08  2.398705e+07
75%       23.000000     10.000000  ...  4.885652e+08  4.829060e+07
max       31.000000     12.000000  ...  6.356807e+08  1.740234e+09

[8 rows x 11 columns]

In [103]:
drivers_df.describe()

            Num_Acc          place  ...           locp          etatp
count  1.329770e+05  132977.000000  ...  132977.000000  132977.000000
mean   2.019000e+11       2.184754  ...      -0.109267      -0.810306
std    1.699444e+04       2.695724  ...       1.247776       0.648306
min    2.019000e+11       1.000000  ...      -1.000000      -1.000000
25%    2.019000e+11       1.000000  ...      -1.000000      -1.000000
50%    2.019000e+11       1.000000  ...       0.000000      -1.000000
75%    2.019000e+11       2.000000  ...       0.000000      -1.000000
max    2.019001e+11      10.000000  ...       9.000000       3.000000

[8 rows x 12 columns]

In [107]:
# check features (columns) types for the 2 datasets
charcts_df.dtypes

Num_Acc     object
jour       float64
mois       float64
an         float64
hrmn       float64
lum        float64
dep         object
com         object
agg        float64
int        float64
atm        float64
col        float64
adr         object
lat        float64
long       float64
dtype: object

In [108]:
drivers_df.dtypes

Num_Acc         int64
id_vehicule    object
num_veh        object
place           int64
catu            int64
grav            int64
sexe            int64
an_nais         int64
trajet          int64
secu1           int64
secu2           int64
secu3           int64
locp            int64
actp           object
etatp           int64
dtype: object

In [144]:
# change columns names from Frenc to English
charcts_df.rename(columns = {'Num_Acc': 'acc_id', 'jour': 'Day', 'mois':'Month', 'an':'Year','hrmn':'Hour_Mins', 'lum':'Light','dep':'Department', 'com':'Municipality','agg':'Location', 'int':'Intersection','atm':'Weather_cond', 'col':'Collison_type','adr':'Address', 'lat':'Latitude','long':'Longtitude'}, inplace = True)
drivers_df.rename(columns = {'catu':'user_category','grav':'injury_severity','sexe':'sex','an_nais':'Birth_year','trajet':'travel_reason','actp':'ped_action','etatp':'ped_company'}, inplace = True)

In [145]:
# explore the data type at each series
charcts_df.dtypes

acc_id                   object
Day              datetime64[ns]
Month            datetime64[ns]
Year             datetime64[ns]
Hour_Mins               float64
Light                     int64
Department               object
Municipality             object
Location                  int64
Intersection              int64
Weather_cond              int64
Collison_type             int64
Address                  object
Latitude                float64
Longtitude              float64
dtype: object

In [146]:
drivers_df.dtypes

Num_Acc             int64
id_vehicule        object
num_veh            object
place               int64
user_category       int64
injury_severity     int64
sex                 int64
Birth_year          int64
travel_reason       int64
secu1               int64
secu2               int64
secu3               int64
locp                int64
ped_action         object
ped_company         int64
dtype: object

In [148]:
charcts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58286 entries, 0 to 58839
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   acc_id         58286 non-null  object
 1   Day            58286 non-null  datetime64[ns]
 2   Month          58286 non-null  datetime64[ns]
 3   Year           58286 non-null  datetime64[ns]
 4   Hour_Mins      58286 non-null  float64
 5   Light          58286 non-null  int64
 6   Department     58286 non-null  object
 7   Municipality   58286 non-null  object
 8   Location       58286 non-null  int64
 9   Intersection   58286 non-null  int64
 10  Weather_cond   58286 non-null  int64
 11  Collison_type  58286 non-null  int64
 12  Address        58286 non-null  object
 13  Latitude       58286 non-null  float64
 14  Longtitude     58286 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(5), object(4)
memory usage: 7.1+ MB

In [147]:
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132977 entries, 0 to 132976
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Num_Acc          132977 non-null  int64
 1   id_vehicule      132977 non-null  object
 2   num_veh          132977 non-null  object
 3   place            132977 non-null  int64
 4   user_category    132977 non-null  int64
 5   injury_severity  132977 non-null  int64
 6   sex              132977 non-null  int64
 7   Birth_year       132977 non-null  int64
 8   travel_reason    132977 non-null  int64
 9   secu1            132977 non-null  int64
 10  secu2            132977 non-null  int64
 11  secu3            132977 non-null  int64
 12  locp             132977 non-null  int64
 13  ped_action       132977 non-null  object
 14  ped_company      132977 non-null  int64
dtypes: int64(12), object(3)
memory usage: 15.2+ MB

In [149]:
# check null values
charcts_df.isna().sum()

acc_id           0
Day              0
Month            0
Year             0
Hour_Mins        0
Light            0
Department       0
Municipality     0
Location         0
Intersection     0
Weather_cond     0
Collison_type    0
Address          0
Latitude         0
Longtitude       0
dtype: int64

In [121]:
drivers_df.isna().sum()

Num_Acc        0
id_vehicule    0
num_veh        0
place          0
catu           0
grav           0
sexe           0
an_nais        0
trajet         0
secu1          0
secu2          0
secu3          0
locp           0
actp           0
etatp          0
dtype: int64

In [123]:
#The output of characteristics dataest shows null values for all features except accident_id, such values are not significant nor appropriate for analysis. As the dataset size is quite large, we will remove such records.
# drop all rows with any NaN and NaT values
charcts_df = charcts_df.dropna()
charcts_df.isna().sum()

acc_id           0
Day              0
Month            0
Year             0
Hour_Mins        0
Light            0
Department       0
Municipality     0
Location         0
Intersection     0
Weather_cond     0
Collison_type    0
Address          0
Latitude         0
Longtitude       0
dtype: int64

In [124]:
# However, the drivers dataset has no null values (checked above).

In [125]:
# check on columns 
charcts_df.columns

Index(['acc_id', 'Day', 'Month', 'Year', 'Hour_Mins', 'Light', 'Department',
       'Municipality', 'Location', 'Intersection', 'Weather_cond',
       'Collison_type', 'Address', 'Latitude', 'Longtitude'],
      dtype='object')

In [150]:
drivers_df.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'place', 'user_category',
       'injury_severity', 'sex', 'Birth_year', 'travel_reason', 'secu1',
       'secu2', 'secu3', 'locp', 'ped_action', 'ped_company'],
      dtype='object')

In [129]:
charcts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58286 entries, 0 to 58839
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   acc_id         58286 non-null  object
 1   Day            58286 non-null  datetime64[ns]
 2   Month          58286 non-null  datetime64[ns]
 3   Year           58286 non-null  datetime64[ns]
 4   Hour_Mins      58286 non-null  float64
 5   Light          58286 non-null  float64
 6   Department     58286 non-null  object
 7   Municipality   58286 non-null  object
 8   Location       58286 non-null  float64
 9   Intersection   58286 non-null  float64
 10  Weather_cond   58286 non-null  float64
 11  Collison_type  58286 non-null  float64
 12  Address        58286 non-null  object
 13  Latitude       58286 non-null  float64
 14  Longtitude     58286 non-null  float64
dtypes: datetime64[ns](3), float64(8), object(4)
memory usage: 7.1+ MB

In [127]:
# convert the Day, Month, Year into datetime object 
charcts_df['Day'] = pd.to_datetime(charcts_df['Day'])
charcts_df['Month'] = pd.to_datetime(charcts_df['Month'])
charcts_df['Year'] = pd.to_datetime(charcts_df['Year'])

In [135]:
# to save memory and make it more efficient, change the following features types from float to int.
# Light: 5 types, Location: 2 types, Intersection: 9, Weather: 9, Collision: 6 types
charcts_df[['Light', 'Location','Intersection','Weather_cond','Collison_type']] = charcts_df[['Light', 'Location','Intersection','Weather_cond','Collison_type']].astype(int)
# Department and Municipality for some rows have some characters, so we will leave them as they are. Location is string.

In [136]:
charcts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58286 entries, 0 to 58839
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   acc_id         58286 non-null  object
 1   Day            58286 non-null  datetime64[ns]
 2   Month          58286 non-null  datetime64[ns]
 3   Year           58286 non-null  datetime64[ns]
 4   Hour_Mins      58286 non-null  float64
 5   Light          58286 non-null  int64
 6   Department     58286 non-null  object
 7   Municipality   58286 non-null  object
 8   Location       58286 non-null  int64
 9   Intersection   58286 non-null  int64
 10  Weather_cond   58286 non-null  int64
 11  Collison_type  58286 non-null  int64
 12  Address        58286 non-null  object
 13  Latitude       58286 non-null  float64
 14  Longtitude     58286 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(5), object(4)
memory usage: 7.1+ MB

In [151]:
# now check the drivers dataset.
drivers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132977 entries, 0 to 132976
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Num_Acc          132977 non-null  int64
 1   id_vehicule      132977 non-null  object
 2   num_veh          132977 non-null  object
 3   place            132977 non-null  int64
 4   user_category    132977 non-null  int64
 5   injury_severity  132977 non-null  int64
 6   sex              132977 non-null  int64
 7   Birth_year       132977 non-null  int64
 8   travel_reason    132977 non-null  int64
 9   secu1            132977 non-null  int64
 10  secu2            132977 non-null  int64
 11  secu3            132977 non-null  int64
 12  locp             132977 non-null  int64
 13  ped_action       132977 non-null  object
 14  ped_company      132977 non-null  int64
dtypes: int64(12), object(3)
memory usage: 15.2+ MB

In [ ]:
# to save memory and make it more efficient, change the following features types from float to int.
# Light: 5 types, Location: 2 types, Intersection: 9, Weather: 9, Collision: 6 types
charcts_df[['Light', 'Location','Intersection','Weather_cond','Collison_type']] = charcts_df[['Light', 'Location','Intersection','Weather_cond','Collison_type']].astype(int)
# Department and Municipality for some rows have some characters, so we will leave them as they are. Location is string.

In [110]:
# Visualisation

In [111]:
# Merge the two datasets into one

In [ ]:
# Model